/* SCSS imports */
/* Variables */
/* Reset */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Navigation */
.nav {
  background: black;
  height: 10vh;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.nav__img {
  height: 4rem;
}
.nav__list {
  display: inline-block;
}
.nav__item {
  text-decoration: none;
  list-style: none;
}

@media screen and (max-width: 2000px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 2rem;
    padding: 0 1rem 1rem 1rem;
    font-family: "Ubuntu", sans-serif;
  }
  .grid__courses {
    height: auto;
    border: 1px solid black;
    padding: 1.5rem;
  }
  .grid__html {
    border: 0.1px solid black;
    height: auto;
    padding: 0.5rem;
  }
  .grid__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
  }
  .grid__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    padding-top: 0.8rem;
  }
  .grid__teacher {
    font-size: 20px;
    font-weight: 700;
  }
  .grid__sass {
    border: 0.1px solid black;
    height: auto;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  .grid__about {
    height: auto;
    border: 1px solid black;
    padding: 1.5rem;
  }
  .grid__description-container {
    text-align: center;
  }
  .grid__about-img {
    height: 10rem;
    border: 0.1px solid black;
    border-radius: 100%;
  }
  .grid__about-title {
    padding-top: 0.5rem;
    font-size: 16px;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
  }
  .grid__more-band {
    background-color: #060606;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    padding: 0.2rem 0;
    margin: 0.5rem 0;
  }
  .grid__more-list {
    line-height: 1.4;
  }
  .grid__more-link {
    text-decoration: none;
  }
  .grid__more-svg {
    padding-top: 2rem;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
.header {
  display: grid;
  grid-template-columns: 1fr;
  height: 40vh;
}
.header__img {
  height: 100%;
  justify-self: center;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #000000;
  color: #fff;
  padding: 2rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.footer__item {
  padding-right: 1rem;
}
.footer__button {
  background: #ffaf6d;
  border-radius: 4px;
}
.footer__item {
  display: inline;
}

@media screen and (max-width: 400px) {
  .footer {
    grid-template-columns: 1fr;
    font-size: 16px;
  }
  .footer__rights {
    padding-bottom: 1rem;
  }
  .footer__item {
    display: block;
    padding-bottom: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
